<section class="not-found container mx-auto mt-40">
  <div class="text-center">
    <h1 class="text-2xl font-bold mb-4">404 Not Found</h1>
    <p class="text-sm text-muted mb-3">Your requested page does not exist.</p>
    <a class="btn-primary px-4 py-2 text-white" href="/">Go to home</a>
  </div>
</section>
